*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #333;
    text-align: center;
}


header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

header h1 {
    margin: 0;
}

/* index */

.text_index {
    font-size: 17px;
}

/* Jouer */
.h3_Jouer {
    margin-left: 1em;
    margin-top: 2em;
}

.text_Jouer {
    margin-left: 1.5em;
    font-size: 17px;
}

.Jouer_list {
    margin-left: 3em;
    margin-right: 3em;
    list-style-image: url("../Ressources/point.png");
    padding-inline: 25%;
    font-size: large;
}

.div_Jouer {
    margin-left: 30%;
    margin-right: 30%;
}

/*Régles*/
.Regles_list {
    margin: 3em;
    list-style-image: url("../Ressources/point.png");
    padding-inline: 20%;
    font-size: large;
}

.div_Regles {
    margin-left: 20%;
    margin-right: 20%;
}

/*Création du bouton de navigation*/
.nav-button {
    position: absolute;
    left: 10px;
    border: none;
    margin-bottom: 15px;
    margin-top: 5px;
    cursor: pointer;
    background-color: transparent;
    transition: transform 0.3s ease-in-out;
}

.nav-button.rotated {
    transform: rotate(90deg);
}

img {
    width: 50px;
    height: 50px;
}

/*Création du menu de navigation*/
.navigation {
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    width: 200px;
    color: white;
    height: 50vh;
    position: fixed;
    padding-right: 10px;
}

.navigation.shifted {
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
}

/*Création de la side bar*/
.sidebar {
    display: flex;
    flex-direction: column;
}

.sidebar a {
    background-color: #4b4a4a;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

.sidebar a:hover {
    background-color: #333;
}

/*Création du main*/
main {
    padding-left: 2em;
    transition: margin-left 0.3s ease-in-out;
}

main.shifted {
    margin-left: 200px;
}

/*Création du footer*/
footer {
    padding: 10px;
    text-align: center;
    transition: margin-left 0.3s ease-in-out;

    margin-top: auto;
}

footer.shifted {
    margin-left: 200px;
}

footer p {
    background-color: #4b4a4a;
    transition: background-color 0.3s;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    margin-top: 4em;
}